
.main-header .sidebar-toggle:before {
  content: "";
}

.content-wrap {
  min-height: 0 !important;
  overflow: auto;
}
pre{
  display: none;
}
.category_des p {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

.signin {
  padding: 40px 20px;
  background-color: white;
  border-radius: 30px;
  width: 100%;
}
.signin-heading {
  text-align: center;
  font-weight: 600;
  color: #363a40;
  font-size: 35px;
  margin-bottom: 35px;
}
.signin-google {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  background-color: #4c6ef4;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 25px;
  box-shadow: 0 10px 20px -5px rgba(76, 110, 244, 0.9);
}
.signin-google-icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ff7870;
  background-color: white;
  border-radius: 10px;
  font-size: 28px;
}
.signin-google-text {
  color: white;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}
.signin-or {
  color: #363a40;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 25px;
}
.signin-or-text {
  display: inline-block;
  padding: 5px 20px;
  background-color: white;
  position: relative;
  font-size: 14px;
}
.signin-or:before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #999;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.signin-already {
  text-align: center;
  color: #363a40;
  font-size: 17px;
}
.signin-already-link {
  color: #4c6ef4;
  text-decoration: none;
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  display: inline-block;
  cursor: pointer;
  color: #363a40;
  margin-bottom: 15px;
  font-size: 18px;
}

.form-input {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  border: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: #f2f3f5;
  color: #363a40;
  font-size: 16px;
}
.form-input::-webkit-input-placeholder {
  color: #b4bdc1;
}

@media screen and (max-width: 767px) {
  .signin {
    padding: 30px 20px;
  }
}
.form-submit {
  cursor: pointer;
  border: 0;
  border-radius: 15px;
  background-color: #393a38;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 100%;
  box-shadow: 0 10px 20px -5px rgba(129, 201, 29, 0.9);
  margin-bottom: 20px;
}
.form-submit span {
  position: absolute;
  display: block;
}

.form-submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.form-submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.form-submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.form-submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.form-submit:hover {
  background: #f40398;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #9eaf3f, 0 0 15px #ca238a, 0 0 15px #279749,
    0 0 20px #d42323;
}

.signup a {
  text-decoration: none;
}

.signup .form-group {
  margin-bottom: 25px;
}

.signup .form-label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: 1px;
}

.signup .form-input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  background-color: #f8f9fb;
  border: 0;
  color: #212144;
  font-size: 13px;
  transition: all 0.25s ease;
}
.signup .form-input:focus {
  background-color: white;
  box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
  -webkit-box-shadow: 0 10px 20px -5px rgba(163, 165, 178, 0.4);
}
.signup .form-input::-webkit-input-placeholder {
  color: #a3a5b2;
}

.signup .btn {
  display: inline-block;
  border: 0;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  background-color: transparent;
}
.signup .btn--gradient {
  background-image: linear-gradient(to bottom, #ff1d75, #f8902f);
  width: 100%;
  color: white;
}

.signup-container {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.signup-heading {
  font-size: 45px;
  font-weight: bold;
  color: #212144;
  margin-bottom: 30px;
}
.signup-form {
  width: 100%;
}
.signup-term {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}
.signup-term-link {
  color: #2979ff;
}

@media screen and (max-width: 1023px) {
  body:before,
  body:after {
    display: none;
  }

  .signup {
    display: block;
  }
  .signup-container {
    padding: 50px 20px;
  }
  .signup-image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .signup-container {
    max-width: 100%;
  }
}
